---
---
// ----------------------------------------------------------------------------
// General Styles
body
  font:
    family: "proxima-nova-alt", 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif
    size: 18px
  line-height: 30px
  background-color: white
  color: #555
  -webkit-text-size-adjust: 100%

strong
  font-weight: 600

hr
  border: none
  border-bottom: 1px solid #e1e1e1
  margin: 0
  padding: 0

a
  color: #FF3B30
  text-decoration: none

  &:hover
    text-decoration: underline


// ----------------------------------------------------------------------------
// Call To Action Button
::-moz-selection
  color: #fff
  background: #FF3B30

::selection
  color: #fff
  background: #FF3B30



// ----------------------------------------------------------------------------
// Call To Action Button

.cta-button
  color: #fff
  background-color: #FF3B30
  border-radius: 3px
  text-decoration: none
  font-weight: 600
  font-size: 24px
  padding: 10px 20px
  transition: background 150ms cubic-bezier(.05,.48,.48,.95)

  &:hover
    text-decoration: none
    background-color: #D32D24

input[type=button].cta-button,
input[type=submit].cta-button
  border: none
  cursor: pointer
  font-size: 16px
  margin: 0
  -webkit-appearance: none


// ----------------------------------------------------------------------------
// Pill Button

.pill-container
  margin: 0 0 30px

.pill-button
  display: block
  color: #FF3B30
  border: 2px solid #FF3B30
  border-radius: 3px
  padding: 5px 10px
  margin: 0 0 10px

  span
    float: left
    margin: 2px 10px 0 0

  &:hover
    background: #FF3B30
    color: #fff
    border-color: #D32D24
    text-decoration: none


// ----------------------------------------------------------------------------
// Header
header
  font-size: 20px
  padding: 15px 0

  .wrapper
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 0 20px

  hgroup
    float: left
    text-transform: uppercase
    line-height: 25px
    letter-spacing: 1px
    margin: -1px 0 15px

    strong
      font-weight: 100

    a:hover
      text-decoration: none

  .logo-container
    max-width: 420px
    max-height: 420px
    margin: 30px auto

  .logo
    display: block
    text-indent: -9999px
    background:
      image: url(../img/logo-home.png)
      repeat: no-repeat
      position: 50% 50%
      size: contain
    height: 0
    padding-bottom: 100%

  h2
    text-align: center
    font-size: 26px
    font-weight: 600
    line-height: 1.3em
    margin: 0 0 30px


  // --------------------------------------------------------------------------
  // Navigation
  nav
    line-height: 25px
    margin: 25px 0 0 240px

    ul
      padding: 0 0 5px
      border-bottom: 2px solid #999

    span
      display: none

    li
      display: inline-block
      margin: 0 15px 0 0

      &:last-child
        float: right
        margin: 0

    li.active a
      color: #FF3B30

    a
      display: block
      color: #777
      font-weight: 600
      transition: all 75ms cubic-bezier(.05,.48,.48,.95)

      &:hover
        text-decoration: none
        color: #222

    @media (max-width: 720px)
      margin: 25px 0 0 220px

      ul li,
      ul li:last-child
        display: block
        float: none
        text-align: left

  @media (max-width: 320px)
    hgroup
      width: 120px

    nav
      margin: 25px 0 0 140px


@media (-webkit-min-device-pixel-ratio: 2)
  header h2 .logo
    background-image: url(../img/logo-home@2x.png)


// ----------------------------------------------------------------------------
// Aside
aside
  .contact-information
    margin: 0 0 30px

    @media (max-width: 720px)
      display: none

  #gmap
    height: 200px
    background: #ccc
    border-radius: 3px

  #gmap,
  address
    margin: 0 0 20px

  nav
    display: none
    margin: 30px -25px 0

    @media (max-width: 720px)
      display: block

    li:not(:last-child)
      border-bottom: 1px solid #e1e1e1

    a
      font-size: 18px
      display: block
      background: #f9f9f9
      color: #FF3B30
      padding: 10px 25px

      span
        font-size: 14px
        float: right

      &:hover,
      &:active
        background: #f1f1f1
        text-decoration: none


// ----------------------------------------------------------------------------
// Footer
footer
  overflow: hidden
  font-size: 14px
  color: #ccc
  background: #25201C
  padding: 10px 20px

  @media (max-width: 720px)
    text-align: center

    span:first-child
      display: none

  @media (min-width: 720px)
    span:first-child
      float: left
      color: #fff
      text-transform: uppercase
      font-weight: 100
      letter-spacing: 1px

    span:last-child
      float: right


// ----------------------------------------------------------------------------
// Wrapper
.wrapper
  max-width: 1200px
  margin: 0 auto


// ----------------------------------------------------------------------------
// Three column layout
.three-cols
  .col:not(.col-linked),
  .col-linked > a
    display: block
    padding: 30px 25px

  .col-linked > a:hover
    background: #f9f9f9
    text-decoration: none

  @media (min-width: 720px)
    overflow: hidden

    &.with-border
      > .col:not(:last-child)
        border-right: 1px solid #e1e1e1

    > .col
      float: left
      width: 33.33%
      -moz-box-sizing: border-box
      box-sizing: border-box


// ----------------------------------------------------------------------------
// Two column layout
.two-cols
  .col:not(.col-linked),
  .col-linked > a
    display: block
    padding: 30px 25px

  &.no-container
    .col:not(.col-linked),
    .col-linked > a
      padding: 30px 0

  .col-linked > a:hover
    background: #f9f9f9
    text-decoration: none

  @media (min-width: 720px)
    overflow: hidden

    &.with-border
      > .col:not(:last-child)
        border-right: 1px solid #e1e1e1

    &.two-nav-cols
      > .col:first-child
        width: 70%
      > .col:last-child
        width: 30%

    > .col
      float: left
      width: 50%
      -moz-box-sizing: border-box
      box-sizing: border-box


// ----------------------------------------------------------------------------
// Contact Information
.contact-information
  margin: 0 auto

  tbody
    th,td
      padding: 0 5px
    th
      font-weight: 600
      text-align: right


.contact-bubbles
  text-align: center
  padding: 0 !important
  margin: -10px 0 30px !important

  @media (max-width: 720px)
    margin: 20px 0 30px !important

  li
    display: inline-block

  a
    display: block
    width: 40px
    height: 40px
    border-radius: 50px
    line-height: 44px
    font-weight: 700
    font-size: 18px
    background-color: #FF3B30
    color: #fff
    margin: 0 1px
    transition: all 75ms cubic-bezier(.05,.48,.48,.95)

    &:hover
      background-color: #D32D24
      text-decoration: none


// ----------------------------------------------------------------------------
// Work / Portfolio
.portfolio
  margin: 45px 0

  > li
    clear: both
    overflow: hidden
    margin: 0 0 60px

  .description,
  .pictures
    -moz-box-sizing: border-box
    box-sizing: border-box

  h3
    border-bottom: 1px solid #e1e1e1
    padding: 0 0 10px

  .icons
    float: right

  .icon
    display: inline-block
    width: 24px
    height: 24px
    line-height: 26px
    background: #FF3B30
    text-align: center
    color: #fff
    border-radius: 30px

    &:hover
      text-decoration: none
      background-color: #D32D24

    > span
      position: relative
      top: -3px
      font-size: 14px

  @media (min-width: 9999px) // disable 2col layout for now
    > li:nth-child(odd)
      .description
        float: left
        padding-right: 15px
      .pictures
        float: right

    > li:nth-child(even)
      .description
        padding-left: 20px
        float: right
      .pictures
        float: left

    .description
      width: 35%

    .pictures
      width: 65%

  .description
    margin: 0 0 20px

  .pictures
    overflow: hidden

    a
      display: block
      width: 100%
      height: 100%
      transition: background 125ms cubic-bezier(.05,.48,.48,.95)

      &:hover
        background: rgba(255,59,48,.6)

    li
      float: left
      width: 50%
      background:
        repeat: no-repeat
        position: 50% 50%
        size: cover
      -moz-box-sizing: border-box
      box-sizing: border-box

    li:nth-child(1)
      height: 350px
      border-right: 2px solid #fff

    li:nth-child(2),
    li:nth-child(3)
      height: 175px

    li:nth-child(2)
      border-bottom: 2px solid #fff

  > li:nth-child(even)
    .pictures
      li:nth-child(1)
        float: right
        border-left: 2px solid #fff
        border-right: none


// ----------------------------------------------------------------------------
// Blog Posts
.posts
  li
    display: block
    margin: 0 -25px

    > a
      display: block
      overflow: hidden
      padding: 10px 25px
      transition: background 25ms cubic-bezier(.05,.48,.48,.95)

      &:hover,
      &:active
        text-decoration: none
        background: #FF3B30

        h3,
        .pretzel
          color: #fff
        time
          color: #e1e1e1

    h3,
    time
      display: inline

    h3
      font-weight: 600
      color: #555

    time
      float: right
      font-size: 14px
      color: #999

  li:nth-child(even)
    background-color: #f9f9f9


.post-nav
  margin: 30px -25px 0

  a
    display: block
    padding: 5px 25px
    transition: all 25ms cubic-bezier(.05,.48,.48,.95)

    span
      display: inline-block
      font-size: 12px
      margin: 0 5px 0 0

    &:hover
      text-decoration: none
      background: #FF3B30
      color: #fff

// ----------------------------------------------------------------------------
// Blog Post
body.blog-post
  .markdown
    h1
      line-height: 40px

    .pretzel
      color: #333

// ----------------------------------------------------------------------------
// Default Textual Styles
.content
  &.container
    padding: 30px 25px

  h1
    font:
      size: 28px
      weight: 700
    color: #FF3B30
    margin: 0 0 20px

  h3
    font:
      size: 24px
      weight: 700
    color: #FF3B30
    margin: 0 0 10px

    span
      font-size: 22px

  p, ul
    margin: 0 0 20px

  p, li
    color: #555

  ul
    padding: 0 0 0 20px
  li
    list-style: disc

  .competences
    li
      color: #aaa

      span
        color: #555

  > *:last-child
    margin-bottom: 0


// ----------------------------------------------------------------------------
// Contact Thanks
.thanks
  .content.ca
    text-align: center
    padding: 80px 0 240px

    h1
      margin: 0 0 60px

    h4
      margin: 0 0 20px


    .heart-icon
      display: block
      width: 240px
      height: 240px
      line-height: 290px
      font-size: 160px
      background: #FF3B30
      border-radius: 500px
      color: #fff
      text-align: center
      margin: 20px auto 60px


// ----------------------------------------------------------------------------
// Floormat
.floormat
  background-color: #F7F1E3
  background-image: -moz-linear-gradient(-90deg, rgba(215,215,215,0.80) 0%, rgba(237,237,237,0.00) 3%), -moz-linear-gradient(-90deg, #F7F1E3 0%, #FFFCF5 100%)
  background-image: -ms-linear-gradient(-90deg, rgba(215,215,215,0.80) 0%, rgba(237,237,237,0.00) 3%), -ms-linear-gradient(-90deg, #F7F1E3 0%, #FFFCF5 100%)
  background-image: linear-gradient(-180deg, rgba(215,215,215,0.80) 0%, rgba(237,237,237,0.00) 3%), linear-gradient(-180deg, #F7F1E3 0%, #FFFCF5 100%)
  text-align: center
  color: #444
  padding: 50px 20px

  h3
    font-size: 24px
    font-weight: 600
    margin: 0 0 20px

  p
    margin: 0 0 20px

  .cta-button
    display: inline-block
    margin: 10px 0 0px


// --------------------------------------------------------------------------
// Contact Form
.contact-form
  margin: 45px 0

  .field
    clear: left

  label
    display: block
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 0 15px 0 0

  input[type=text],
  textarea
    display: block
    width: 100%
    font-family: "proxima-nova-alt", 'proxima-nova', 'Helvetica Neue', Helvetica, Verdana, sans-serif
    font-size: 16px
    line-height: 20px
    border-radius: 2px
    background: #F9F9F9
    border: 1px solid #DDDDDD
    padding: 5px
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin: 0 0 15px

    &.error
      border: 1px solid #FF3B30

  textarea
    min-height: 150px
    max-height: 650px
    resize: vertical

  @media (max-width: 720px)
    .field.button label
      display: none

  @media (min-width: 720px)
    label
      float: left
      text-align: right
      width: 25%

    input[type=text],
    textarea
      float: left
      width: 75%

// ----------------------------------------------------------------------------
// Special pages with backgrounds in navigation
body.home,
body.about-me
  header
    background: #25201C
    color: #FFFFFF

    nav
      ul
        border-bottom: 2px solid #fff

      li.active a
        color: #FF3B30

      a
        color: #f1f1f1

      a:hover
        color: #fff


// ----------------------------------------------------------------------------
// Home Page Special
body.home
  header
    position: relative
    overflow: hidden
    background:
      image: linear-gradient(-180deg, rgba(51,51,51,.5) 10%, rgba(51,51,51,0.00) 30%), linear-gradient(0deg, rgba(70,40,40,0.85), rgba(48,48,48,0.90)), url(../img/brugge.jpg)
      position: 50% 50%
      size: cover
      repeat: no-repeat
    min-height: 575px

    .atoms-big
      position: absolute
      left: 50%
      top: 240px
      width: 900px
      height: 900px
      background: url(../img/atoms-big.png) no-repeat 50% 50%
      margin: 0 0 0 -450px
      -webkit-animation-name: rotate
      -webkit-animation-duration: 120s
      -webkit-animation-iteration-count: infinite
      -webkit-animation-timing-function: linear
      animation-name: rotate
      animation-duration: 120s
      animation-iteration-count: infinite
      animation-timing-function: linear

    .atoms-small
      position: absolute
      left: 50%
      top: 450px
      width: 500px
      height: 500px
      background: url(../img/atoms-small.png) no-repeat 50% 50%
      margin: 0 0 0 -250px
      -webkit-animation-name: rotate
      -webkit-animation-duration: 35s
      -webkit-animation-iteration-count: infinite
      -webkit-animation-timing-function: linear
      animation-name: rotate
      animation-duration: 35s
      animation-iteration-count: infinite
      animation-timing-function: linear

  .contact-bubbles
    display: none

  .content.container .cta-button
    float: right
    margin: 45px 0 0 20px

  .contact-information tr:last-child
    display: none

@-webkit-keyframes rotate
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

@keyframes rotate
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)


// ----------------------------------------------------------------------------
// Blog
body.blog
  .pretzel
    color: #FF3B30


body.blog-post
  .posts
    border-top: 1px solid #e1e1e1
    padding-top: 40px
    margin: 40px 0

    .content h3
      margin: 0 0 10px

.markdown
  > *:first-child
    margin-top: 0
    margin-bottom: 35px

  h1, h3, h5
    color: #FF3B30
    margin: 10px 0 10px
  h2, h4, h5
    color: #444
    font-weight: 600
    margin: 10px 0 10px

  h1
    font-size: 30px

  h2
    font-size: 26px

  h3
    font-size: 22px
    font-style: italic

  h4
    font-size: 20px

  h5
    font-size: 18px

  h6
    font-size: 16px

  code
    display: inline-block
    font-family: 'source-code-pro', 'Menlo', 'Courier New', sans-serif
    background: #f9f9f9
    font-size: 14px

  pre > code
    display: block
    background: #f9f9f9
    border-radius: 2px
    overflow-x: auto
    padding: 10px
    margin: 0 0 20px

  blockquote
    padding-left: 20px
    border-left: 2px solid #e1e1e1

    > p,
    > li
      color: #888

// ----------------------------------------------------------------------------
// About Me
body.about-me
  header
    background:
      image: linear-gradient(-180deg, rgba(51,51,51,.3) 10%, rgba(51,51,51,0.00) 30%),  linear-gradient(0deg, rgba(70,40,40,0.3), rgba(48,48,48,0.1)), url(../img/about-me.jpg)
      position: 50% 55%
      size: cover
      repeat: no-repeat
    min-height: 575px

  @media (max-width: 720px)
    header
      background-position: 80% 70%
