<section class="pill-container">
	<a href="/feed.xml" class="pill-button" onclick="ga('send', 'event', 'RSS', 'subscribe', 'Click from sidebar pill');"><span class="ss-inbox"></span>Inschrijven op RSS Feed</a>
	<a href="//facebook.com/builtinbruges" class="pill-button" onclick="ga('send', 'event', 'Facebook', 'visit', 'Click from sidebar pill');"><span class="ss-like"></span>Liken op Facebook</a>
	<a href="//twitter.com/brtdv" class="pill-button" onclick="ga('send', 'event', 'Twitter', 'visit', 'Click from sidebar pill');"><span class="ss-birdhouse"></span>Volgen op Twitter</a>
</section>
