	<div class="wrapper">
		<div class="languages">
			<ul>
				<li class="active"><a href="/nl/home" title="Built in Bruges - Web &amp; app design en ontwikkeling van hoge kwaliteit">NL</a></li>
				<li><a href="/en/home" title="Built in Bruges - High quality web &amp; app design and development">EN</a></li>
			</ul>
		</div>
		<div class="hgroup">
			<a href="/nl/home" onclick="ga('send', 'event', 'Logo', 'click', 'Click in header');"><strong>Built in Bruges</strong></a>
		</div>
		{% include nl/navigation.html %}
	</div>
