
    <header>
      <a href="{{ site.baseurl }}/" title="{{ site.title }}"><h1 class="logo">Bert Devriese</h1></a>
      <h3>
        Hi, I'm Bert Devriese. I work at <a href="http://www.trinch.com">Trinch Webstudio</a>.<br />
        I also freelance at <a href="http://www.builtinbruges.be">Built In Bruges</a>.
      </h3>
      <ul class="social">
      	<li><a href="http://www.dribbble.com/{{ site.author.dribbble }}" title="{{ site.author.name }} Dribbble Profile"><i class="icon">d</i></a></li>
      	<li><a href="http://www.twitter.com/{{ site.author.twitter }}" title="{{ site.author.name }} Twitter Profile"><i class="icon">t</i></a></li>
      	<li><a href="http://www.github.com/{{ site.author.github }}" title="{{ site.author.name }} Github Profile"><i class="icon">j</i></a></li>
      </ul>
    </header>