
    <header>
      <div class="wrapper">
        <a href="/" title="{{ site.title }}"><h1>Built In <em>Bruges</em></h1></a>
        <nav>
          <ul>
      {% for node in site.pages %}
        {% if node.title != null and node.group == "header" and (node.identifier == nil or (node.identifier == "blog" and blog_shown == nil)) %}
          {% if node.identifier == "blog" %}
            {% assign blog_shown = true %}
          {% endif %}
          {% if page.url == node.url %}
            <li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
          {% else %}
            <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
         </ul>
        </nav>
      </div>
    </header>