Header set X-UA-Compatible "IE=Edge,chrome=1"

RewriteEngine On

# builtinbruges.com => www.builtinbruges.com
RewriteCond %{HTTP_HOST} !^www.builtinbruges.com$ [NC]
RewriteCond %{HTTP_HOST} !^beta.builtinbruges.com$ [NC]
RewriteRule ^(.*)$ http://www.builtinbruges.com/$1 [L,R=301]

# Block libwww-perl (spam & bots)
SetEnvIfNoCase User-Agent "^libwww-perl*" block_bad_bots
Deny from env=block_bad_bots

# Incorrect Links
Redirect 301 /2013/07/finding-all-emails-in-apple-mail/blog-url http://www.builtinbruges.com/2013/07/finding-all-emails-in-apple-mail
Redirect 301 /2013/07/finding-all-emails-in-apple-mail/post-url http://www.builtinbruges.com/2013/07/finding-all-emails-in-apple-mail
Redirect 301 /2013/07/why-javascript-web-applications-should-embrace-traditional-urls/post-url http://www.builtinbruges.com/2013/07/why-javascript-web-applications-should-embrace-traditional-urls

# Moved Posts
Redirect 301 /2013/04/ruby-vs-php http://www.builtinbruges.com/2013/04/ruby-on-rails-vs-php
Redirect 301 /2013/08/using-ajax-urls-in-jekyll http://www.builtinbruges.com/2013/08/using-ajax-content-in-jekyll

# Removed Posts
Redirect 301 /2013/08/sourceforge-is-encouraging-its-top-projects-to-bundle-adware-spyware/ http://www.builtinbruges.com/blog.html
Redirect 301 /2013/01/happy-new-year/ http://www.builtinbruges.com/blog.html
Redirect 301 /en/blog/13/make-paste-and-match-style-the-default-for-the-v-shortcut http://www.builtinbruges.com/blog.html
Redirect 301 /2012/08/blog-update/ http://www.builtinbruges.com/blog.html
Redirect 301 /2013/01/paste-and-match-style/ http://www.builtinbruges.com/blog.html
Redirect 301 /2013/07/nifty-modal-window-effects/ http://www.builtinbruges.com/blog.html
Redirect 301 /1998/01/wintel http://www.builtinbruges.com

# Old Pages
Redirect 301 /blog/page4/ http://www.builtinbruges.com/blog.html
Redirect 301 /blog/page3/ http://www.builtinbruges.com/blog.html
Redirect 301 /blog/page2/ http://www.builtinbruges.com/blog.html

# Redirects for new website
Redirect 301 /blog.html http://www.builtinbruges.com/en/blog/
Redirect 301 /archive.html http://www.builtinbruges.com/en/blog/
Redirect 301 /contact.html http://www.builtinbruges.com/en/hire-me/
Redirect 301 /clients.html http://www.builtinbruges.com/en/work/
Redirect 301 /nl/werk http://www.builtinbruges.com/nl/portfolio
