---
title: Blog
description: An overview of the recent blog posts
layout: default_html

css-class: blog
wrapper: false

nav-group: header
nav-title: Blog
nav-weight: 2
---

{% include header.html %}
<div class="wrapper">
	<div class="markdown">
		<section class="posts">
			<ul>
			{% for post in site.posts %}
				<li>
					<h3>{% if post.source_url == nil %}<em class="para">&para;</em> {% endif %}<a href="{{ post.url }}"{% if post.description != nil %} title="{{ post.description | escape }}"{% endif %}>{{ post.title }}</a></h3>
					<time datetime="{{ post.date }}">{{ post.date | date: "%B %Y" }}</time>
				</li>
			{% endfor %}
			</ul>
		</section>
	</div>
</div>
{% include footer.html %}

