---
title: Hire Me
description: If you'd like to hire me you should fill in the form on this page

permalink: blog/
layout: default
body_class: blog
---

<header>
	{% include header.html %}
</header>

<section class="wrapper two-cols two-nav-cols with-border">
	<div class="col">
		sdfasdf
	</div>
	<aside class="col">
		<div class="content ca">
			{% include contact-information.html %}
			{% include contact-map.html %}
			{% include contact-financial.html %}
		</div>
	</aside>
</section>

{% include footer.html %}

