---
title: My Work
description: An overview of some of the front-end and back-end projects I have worked on in the last few years

permalink: en/work/
layout: en/default
lang: en
body_class: hire-me

sitemap:
  priority: 0.7
  changefreq: daily
  lastmod: 2014-08-07T18:00:00+02:00
---

<header>
	{% include en/header.html %}
</header>

<section class="wrapper two-cols two-nav-cols with-border">
	<div class="col">
		<div class="content">
			<h1>Work</h1>
			<p>Below you can find a selection of some of my projects</p>
		</div>
		<ul class="portfolio">
			<li>
				<div class="description content">
					<div class="title">
						<h3>Soviet Grass</h3>
						<div class="icons">
							<a href="/en/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/en/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</div>
					<p>This band from <strong>Bruges</strong> needed a simple <strong>promotional website</strong> for their "Plastic Fingers" EP Release. The website design follows the EP design and has an <strong>online form</strong> linked to a <strong>CRM</strong> where people were able to <strong>order</strong> tickets for the release party. Another part of the project was to create print tickets with a tear-off strip.</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-1.jpg);"><a href="http://sovietgrass.com"></a></li>
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-2.jpg);"><a href="http://sovietgrass.com"></a></li>
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-3.jpg);"><a href="http://sovietgrass.com"></a></li>
				</ul>
			</li>
			<li>
				<div class="description content">
					<div class="title">
						<h3>dfind</h3>
						<div class="icons">
							<a href="/en/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/en/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</div>
					<p>
						Dfind is a vintage and contemporary design gallery featuring furniture, lighting and interiour decorating items, located in the heart of Bruges. <br />
						I worked out the <strong>website design</strong> with a <strong>strong focus</strong> on <a href="/en/about-me/"><strong>SEO</strong></a> and the whole website is updateable with an <strong>easy to use CMS</strong>.
					</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2013-dfind/dfind-1.jpg);"><a href="http://www.dfind.be"></a></li>
					<li style="background-image: url(/projects/2013-dfind/dfind-2.jpg);"><a href="http://www.dfind.be"></a></li>
					<li style="background-image: url(/projects/2013-dfind/dfind-3.jpg);"><a href="http://www.dfind.be"></a></li>
				</ul>
			</li>
			<li>
				<div class="description content">
					<div class="title">
						<h3>Rob Michiels</h3>
						<div class="icons">
							<a href="/en/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/en/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</div>
					<p>
						Rob offers a fine selection of rare ceramics from around the world. With several museums and important private collections as clients, it is a continuous journey across the world to find the rarest items of fire and earth.
						Rob gave me an <strong>empty canvas</strong> to design the website on, and everything is updateable with an <strong>easy to use CMS</strong>.
					</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-1.jpg);"><a href="http://www.robmichiels.com"></a></li>
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-2.jpg);"><a href="http://www.robmichiels.com"></a></li>
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-3.jpg);"><a href="http://www.robmichiels.com"></a></li>
				</ul>
			</li>
		</ul>
		<hr />
		<div class="content" style="margin: 50px 0;">
			<h3>Older projects</h3>
			<p>Before going freelance full-time, I had the opportunity to work on interesting projects at my previous employer, <a href="http://www.trinch.com?utm_source=builtinbruges.com&amp;utm_medium=reference&amp;utm_term=work&amp;utm_campaign=trinch" target="_blank" onclick="ga('send', 'event', 'Trinch', 'reference', 'Reference from My Work page text 1');"><strong>Trinch Webstudio</strong></a>.</p>
			<p>I had the opportunity to work for clients like <strong>Bosch</strong>, <strong>Filliers</strong>, <strong>Grinta</strong>, <strong>De Lijn</strong>, <strong>Latexco</strong>, <strong>Belgian Skyshops</strong>, <strong>Haco</strong>, <strong>Genico</strong>, <strong>Obumex</strong>, and many more...</p>
			<p>I also was the <strong>lead developer</strong> for the <strong>Trinch CMS</strong>, which was completely written in-house for maximum control over tailoring and security needs. I also designed and coded the <strong>current <a href="http://www.trinch.com?utm_source=builtinbruges.com&amp;utm_medium=reference&amp;utm_term=work&amp;utm_campaign=trinch" target="_blank" onclick="ga('send', 'event', 'Trinch', 'reference', 'Reference from My Work page text 2');">Trinch.com</a> website</strong>.</p>
		</div>
	</div>
	<aside class="col">
		<div class="ca">
			{% include en/contact-information.html %}
			{% include en/contact-map.html %}
			{% include en/contact-financial.html %}
			{% include en/navigation.html %}
		</div>
	</aside>
</section>
{% include en/floormat.html %}
{% include en/footer.html %}

