---
title: Hire Me
description: If you'd like to hire me you should fill in the form on this page

permalink: hire-me/
layout: default
body_class: hire-me

sitemap:
  priority: 0.7
  changefreq: daily
  lastmod: 2014-08-07T18:00:00+02:00
---

<header>
	{% include header.html %}
</header>

<script type="text/javascript">

var key_up = false;

function key_pressed()
{
	if (key_up == false)
	{
		ga('send', 'event', 'Hire Me', 'filling', 'Started entering stuff in form')
		key_up = true;
	}
}

$(document).ready(function ()
{
	setTimeout(function () { ga('send', 'event', 'Hire Me', 'stranded', 'Looked at page for 30+ seconds'); }, 30000);
});

</script>

<section class="wrapper two-cols two-nav-cols with-border">
	<div class="col">
		<div class="content">
			<h1>Hire Me</h1>
			<p>So you'd like to work together? Great!</p>
			<p>You can hire me by sending me an email message at <a href="mailto:hello@builtinbruges.com">hello@builtinbruges.com</a> or by filling out the form below. Try to enter a short message about your project or the services you'd require and I'll get back in touch with you as quickly as possible. Cheers!</p>
		</div>
		<form class="contact-form" action="php/hireme.php" method="POST">
			<div class="field">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" onkeyup="key_pressed()" autofocus />
			</div>
			<div class="field">
				<label for="company">Company</label>
				<input type="text" name="company" id="company" onkeyup="key_pressed()" />
			</div>
			<div class="field">
				<label for="email">E-mail address</label>
				<input type="text" name="email" id="email" onkeyup="key_pressed()" />
			</div>
			<div class="field">
				<label for="message">Message</label>
				<textarea name="message" id="message" onkeyup="key_pressed()"></textarea>
			</div>
			<div class="field button">
				<label>&nbsp;</label>
				<input type="submit" value="Send Message" class="cta-button" />
			</div>
		</form>
	</div>
	<aside class="col">
		<div class="ca">
			{% include contact-information.html %}
			{% include contact-map.html %}
			{% include contact-financial.html %}
			{% include navigation.html %}
		</div>
	</aside>
</section>

{% include footer.html %}

