---
title: Front-End Development / Web Design / Web Development
description: Built In Bruges — Quality front-end development, web design & web development from the beautiful Bruges, Belgium
layout: index

nav-group: header
nav-title: Home
nav-weight: 1
---
<div class="wrapper">
	<section class="about">
		<h1 class="logo">Built in Bruges</h1>
		<hgroup>
			<h2>A one man web + app studio</h2>
			<h3>Based in the beautiful <strong>Bruges, Belgium</strong></h3>
		</hgroup>
	</section>
	<ul class="services">
		<li>
			<h3>Front-End Development</h3>
			<p>I deliver HTML5, CSS3 and javascript front-end work for other businesses and startups.</p>
			<p>I like to focus on the details that make websites and web applications great!</p>
		</li>
		<li>
			<h3>Design / Development</h3>
			<p>I deliver designs and code web sites or applications and iOS applications for small businesses or startups.</p>
		</li>
		<li>
			<a href="mailto:hello@builtinbruges.com">
				<span class="icon-envelope"></span>
				<h3>Contact Me</h3>
			</a>
		</li>
	</ul>
</div>
<!--
<nav>
	<ul>
	{% sorted_for node in site.pages sort_by:nav-weight %}
		{% if node.nav-title != null and node.nav-group == "header" %}
		 	{% if page.url == node.url %}
			<li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.nav-title}}</a></li>
			{% else %}
			<li><a href="{{ BASE_PATH }}{{node.url}}">{{node.nav-title}}</a></li>
			{% endif %}
		{% endif %}
	{% endsorted_for %}
 </ul>
</nav>
-->
<footer>
	<div class="wrapper">
		&copy; <span>Bert Devriese //</span> Built in Bruges <span>// 2013</span>
		<ul class="social">
			<li><a href="http://www.dribbble.com/brtdv"><em class="icon-dribbble"></em></a></li>
			<li><a href="http://www.github.com/brtdv"><em class="icon-github"></em></a></li>
			<li><a href="http://www.twitter.com/brtdv"><em class="icon-twitter"></em></a></li>
			<li><a href="http://www.facebook.com/builtinbruges"><em class="icon-facebook"></em></a></li>
		</ul>
	</div>
</footer>
