---
title: Contacteer Me
description: Als je mij wil contacteren of inhuren kan je het formulier op deze pagina invullen

permalink: nl/contacteer-me/
layout: nl/default
lang: nl
body_class: hire-me

alternate:
 - lang: nl
   href: http://www.builtinbruges.com/nl/contacteer-me
 - lang: en
   href: http://www.builtinbruges.com/en/hire-me

sitemap:
  priority: 0.7
  changefreq: daily
  lastmod: 2014-08-18T22:58:00+02:00
---

<header>
	{% include nl/header.html %}
</header>

<script type="text/javascript">

var key_up = false;

function key_pressed()
{
	if (key_up == false)
	{
		ga('send', 'event', 'Hire Me', 'filling', 'Started entering stuff in form')
		key_up = true;
	}
}

$(document).ready(function ()
{
	setTimeout(function () { ga('send', 'event', 'Hire Me', 'stranded', 'Looked at page for 30+ seconds'); }, 30000);
});

function is_email(email)
{
	var regex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	return regex.test(email);
}

function check_form()
{
	var can_submit = true;

	if ($.trim($('#name').val()) == '')
	{
		$('#name').addClass('error');
		can_submit = false;
	}
	else
	{
		$('#name').removeClass('error');
	}

	if (!is_email($('#email').val()))
	{
		$('#email').addClass('error');
		can_submit = false;
	}
	else
	{
		$('#email').removeClass('error');
	}

	if ($.trim($('#message').val()) == '')
	{
		$('#message').addClass('error');
		can_submit = false;
	}
	else
	{
		$('#message').removeClass('error');
	}

	return can_submit;
}

</script>

<section class="wrapper two-cols two-nav-cols with-border">
	<div class="col">
		<div class="content">
			<h1>Contacteer Mij</h1>
			<p>Contact met me opnemen om mij in te huren kan vrijblijven met het onderstaande formulier of door me een mailtje te sturen op <a href="mailto:hallo@builtinbruges.com">hallo@builtinbruges.com</a>. Probeer een beknopte boodschap na te laten over je project of over de diensten die je eventueel zou nodig hebben en dan contacteer ik je zo snel mogelijk! Bedankt!</p>
		</div>
		<form class="contact-form" action="/php/hire-me.php" method="POST" onsubmit="return check_form();">
			<input type="hidden" name="lang" value="nl" />
			<div class="field">
				<label for="name">Naam *</label>
				<input type="text" name="name" id="name" onkeyup="key_pressed()" autofocus />
			</div>
			<div class="field">
				<label for="company">Bedrijf</label>
				<input type="text" name="company" id="company" onkeyup="key_pressed()" />
			</div>
			<div class="field">
				<label for="email">E-mail adres *</label>
				<input type="text" name="email" id="email" onkeyup="key_pressed()" />
			</div>
			<div class="field">
				<label for="message">Bericht *</label>
				<textarea name="message" id="message" onkeyup="key_pressed()"></textarea>
			</div>
			<div class="field button">
				<label>&nbsp;</label>
				<input type="submit" value="Stuur Bericht" class="cta-button" />
			</div>
		</form>
	</div>
	<aside class="col">
		<div class="ca">
			{% include nl/contact-information.html %}
			{% include nl/contact-map.html %}
			{% include nl/contact-financial.html %}
			{% include nl/navigation.html %}
		</div>
	</aside>
</section>

{% include nl/footer.html %}

