---
title: Portfolio
description: Een overzicht van enkele van de projecten waarop ik de afgelopen tijd heb gewerkt

permalink: nl/werk/
layout: nl/default
lang: nl
body_class: hire-me

sitemap:
  priority: 0.7
  changefreq: daily
  lastmod: 2014-08-07T18:00:00+02:00
---

<header>
	{% include nl/header.html %}
</header>

<section class="wrapper two-cols two-nav-cols with-border">
	<div class="col">
		<div class="content">
			<h1>Portfolio</h1>
			<p>Hieronder kan u een overzicht vinden van enkele van mijn recentere projecten.</p>
		</div>
		<ul class="portfolio">
			<li>
				<div class="description content">
					<h3>
						Soviet Grass
						<div class="icons">
							<a href="/nl/over-mij/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/nl/over-mij/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</h3>
					<p>Deze brugse band was op zoek naar een simpele maar duidelijke promotiewebsite voor de release van hun "Plastic Fingers" EP &amp; daarop aansluitende release show. Het web design volgt het design van de EP, en op de website is het mogelijk voor bezoekers om tickets of EP's te bestellen. Het project omvatte ook een print gedeelte met oa. het ontwerpen van tickets voor de show met een afscheurstrook.</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-1.jpg);"><a href="http://sovietgrass.com"></a></li>
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-2.jpg);"><a href="http://sovietgrass.com"></a></li>
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-3.jpg);"><a href="http://sovietgrass.com"></a></li>
				</ul>
			</li>
			<li>
				<div class="description content">
					<h3>
						dfind
						<div class="icons">
							<a href="/nl/over-mij/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/nl/over-mij/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</h3>
					<p>
						Dfind is een vintage design gallerij in het hart van Brugge met onder andere meubilair, verlichting, en interieurdecoratie. Ik werkte aan het web design en voerde de programmatie uit met een sterke focus op SEO optimalisatie. Dankzij deze focus steeg het aantal conversies gevoelig. De gehele website is ook makkelijk up to date te houden dankzij het achterliggende CMS.
					</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2013-dfind/dfind-1.jpg);"><a href="http://www.dfind.be"></a></li>
					<li style="background-image: url(/projects/2013-dfind/dfind-2.jpg);"><a href="http://www.dfind.be"></a></li>
					<li style="background-image: url(/projects/2013-dfind/dfind-3.jpg);"><a href="http://www.dfind.be"></a></li>
				</ul>
			</li>
			<li>
				<div class="description content">
					<h3>
						Rob Michiels
						<div class="icons">
							<a href="/nl/over-mij/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/nl/over-mij/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</h3>
					<p>
						Rob biedt zijn klanten een bijzondere collectie van zeldzame keramiek van over de ganse wereld aan. Met enkele musea en belangrijke private verzamelaars als klant, is hij non-stop bezig met het zoeken en aanleggen van een verzameling van over de gehele wereld. Rob gaf me een vrijgeleidde op vlak van ontwerp, en ook op gebied van programmatie is alles tot in de puntjes uitgewerkt. Door de frequente veranderingen in de collectie is het namelijk nodig dat de website vlot up-to-date kan gehouden worden door middel van een makkelijk bruikbaar CMS.
					</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-1.jpg);"><a href="http://www.robmichiels.com"></a></li>
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-2.jpg);"><a href="http://www.robmichiels.com"></a></li>
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-3.jpg);"><a href="http://www.robmichiels.com"></a></li>
				</ul>
			</li>
		</ul>
		<hr />
		<div class="content" style="margin: 50px 0;">
			<h3>Oudere Projecten</h3>
			<p>Voor ik full-time freelancer werd met Built in Bruges, had ik ook de mogelijkheid om aan interessante projecten te werken bij mijn vorige werkgever, <a href="http://www.trinch.com?utm_source=builtinbruges.com&utm_medium=reference&utm_term=work&utm_campaign=trinch" target="_blank" onclick="ga('send', 'event', 'Trinch', 'reference', 'Reference from My Work page text 1');">Trinch Webstudio</a>.</p>
			<p>Ik kreeg hier de kans om voor verschillende klanten te werken, waaronder Bosch, Filliers, Grinta, De Lijn, Latexco, Belgian Skyshops, Haco, genico, Obumex en nog vele anderen.</p>
			<p>Ik was ook lead developer voor het binnenshuis gemaakte Trinch CMS. De in-house aanpak gaf ons de mogelijkheid om volledige op maat te gaan werken. Ik heb ook het ontwerp en de programmatie voorzien voor de huidige <a href="http://www.trinch.com?utm_source=builtinbruges.com&utm_medium=reference&utm_term=work&utm_campaign=trinch" target="_blank" onclick="ga('send', 'event', 'Trinch', 'reference', 'Reference from My Work page text 1');">Trinch.com</a> website.</p>
		</div>
	</div>
	<aside class="col">
		<div class="ca">
			{% include nl/contact-information.html %}
			{% include nl/contact-map.html %}
			{% include nl/contact-financial.html %}
			{% include nl/navigation.html %}
		</div>
	</aside>
</section>
{% include nl/floormat.html %}
{% include nl/footer.html %}

