---
title: My Work
description: An overview of some of the front-end and back-end projects I have worked on in the last few years

permalink: work/
layout: default
body_class: hire-me
---

<header>
	{% include header.html %}
</header>

<section class="wrapper two-cols two-nav-cols with-border">
	<div class="col">
		<div class="content">
			<h1>Work</h1>
			<p>Below you can find a selection of some of my projects</p>
		</div>
		<ul class="portfolio">
			<li>
				<div class="description content">
					<h3>
						Soviet Grass
						<div class="icons">
							<a href="/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</h3>
					<p>This local band needed a simple promotional website for their "Plastic Fingers" EP Release. The website design follows the EP design and has an online form linked to a CRM where people could order tickets for the release party. Print tickets for the show also had to be made and also follow the EP design.</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-1.jpg);"><a href="http://sovietgrass.com"></a></li>
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-2.jpg);"><a href="http://sovietgrass.com"></a></li>
					<li style="background-image: url(/projects/2014-sovietgrass/sovietgrass-3.jpg);"><a href="http://sovietgrass.com"></a></li>
				</ul>
			</li>
			<li>
				<div class="description content">
					<h3>
						dfind
						<div class="icons">
							<a href="/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</h3>
					<p>
						Dfind is a vintage and contemporary design gallery featuring furniture, lighting and interiour decorating items, located in the heart of Bruges. <br />
						I worked out the website design with a strong focus on <a href="/about-me/">SEO</a> and the whole website is updateable with an easy to use CMS.
					</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2013-dfind/dfind-1.jpg);"><a href="http://www.dfind.be"></a></li>
					<li style="background-image: url(/projects/2013-dfind/dfind-2.jpg);"><a href="http://www.dfind.be"></a></li>
					<li style="background-image: url(/projects/2013-dfind/dfind-3.jpg);"><a href="http://www.dfind.be"></a></li>
				</ul>
			</li>
			<li>
				<div class="description content">
					<h3>
						Rob Michiels
						<div class="icons">
							<a href="/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
							<a href="/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
						</div>
					</h3>
					<p>
						Rob offers a fine selection of rare ceramics from around the world. With several museums and important private collections as clients, it is a continuous journey across the world to find the rarest items of fire and earth.
						Rob gave me a free canvas to design the website on, and everything is updateable with an easy to use CMS
					</p>
				</div>
				<ul class="pictures">
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-1.jpg);"><a href="http://www.robmichiels.com"></a></li>
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-2.jpg);"><a href="http://www.robmichiels.com"></a></li>
					<li style="background-image: url(/projects/2013-robmichiels/robmichiels-3.jpg);"><a href="http://www.robmichiels.com"></a></li>
				</ul>
			</li>
		</ul>
	</div>
	<aside class="col">
		<div class="content ca">
			{% include contact-information.html %}
			{% include contact-map.html %}
			{% include contact-financial.html %}
			{% include navigation.html %}
		</div>
	</aside>
</section>
{% include floormat.html %}
{% include footer.html %}

