---
title: Hire Me
description: If you'd like to hire me you should fill in the form on this page

permalink: work/
layout: default
body_class: hire-me
---

<header>
	{% include header.html %}
</header>

<div class="wrapper">
	<section class="two-cols two-nav-cols with-border">
		<div class="col">
			<div class="content">
				<h1>Work</h1>
				<p>Below you can find a selection of some of my projects</p>
			</div>
			<ul class="portfolio">
				<li>
					<div class="description content">
						<h3>
							Soviet Grass
							<div class="icons">
								<a href="/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
								<a href="/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
							</div>
						</h3>
						<p>This local band needed a simple promotional website for their "Plastic Fingers" EP Release. The website design follows the EP design and has an online form linked to a CRM where people could order tickets for the release party. Print tickets for the show also had to be made and also follow the EP design.</p>
					</div>
					<ul class="pictures">
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
					</ul>
				</li>
				<li>
					<div class="description content">
						<h3>
							dfind
							<div class="icons">
								<a href="/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
								<a href="/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
							</div>
						</h3>
						<p>
							Dfind is a vintage and contemporary design gallery featuring furniture, lighting and interiour decorating items, located in the heart of Bruges. <br />
							I worked out the website design together with Dries and the whole website is updatable with an easy to use CMS.
						</p>
					</div>
					<ul class="pictures">
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
					</ul>
				</li>
				<li>
					<div class="description content">
						<h3>
							Rob Michiels
							<div class="icons">
								<a href="/about-me/" class="icon" title="Design"><span class="ss-spraybottle"></span></a>
								<a href="/about-me/" class="icon" title="Coding"><span class="ss-testtube"></span></a>
							</div>
						</h3>
						<p>
							Rob offers a fine selection of rare ceramics from around the world. With several museums and important private collections as clients, it is a continuous journey across the world to find the rarest items of fire and earth.
							Rob gave me a free canvas to design the website on, and everything is updatable with an easy to use CMS
						</p>
					</div>
					<ul class="pictures">
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
						<li style="background-image: url(http://dummyimage.com/600x400/cccccc/ffffff);"><a href="http://"></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<aside class="col">
			<div class="content ca">
				{% include contact-information.html %}
				{% include contact-map.html %}
				{% include contact-financial.html %}
				{% include navigation.html %}
			</div>
		</aside>
	</section>
</div>

{% include footer.html %}

