---
title: Archive
description: Archive of all blog posts
layout: default
identifier: blog
---
<div class="wrapper">
  <div class="archive-widget">
    <h3>Archive</h3>
    <ul>
    {% for post in site.posts %}
      <li>
        <time datetime="{{ post.date }}" title="{{ post.date | date:'%x' }}">{{ post.date | date:'%B %d' }}</time>
        <a href="{{ post.url }}" title="{{ post.title | escape }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% include floormat.html %}