---
title: Home
description: The personal blog of Bert Devriese
layout: default
---
<section class="wrapper">
  {% for post in site.posts limit:1 %}
      {% include show_post.html %}
  {% endfor %}

  <div class="archive-widget">
    <h3>Older Posts</h3>
    <ul>
    {% for post in site.posts offset:1 limit:20 %}
      <li><time datetime="{{ post.date }}">{{ post.date | date:'%B %d' }}</time> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
</section>

