---
title: Home
description: Built In Bruges — We ❤ UI design
layout: default
---
<section class="posts">
{% for post in site.posts limit:1 %}
    {% include show_post.html %}
{% endfor %}
</section>

<div class="wrapper">
  <div class="archive-widget">
    <h3>Older Posts</h3>
    <ul>
    {% for post in site.posts offset:1 limit:10 %}
      <li>
        <time datetime="{{ post.date }}" title="{{ post.date | date:'%x' }}">{{ post.date | date:'%B %d' }}</time>
        <a href="{{ post.url }}" title="{{ post.title | escape }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>