<div class="content">
	<h3>Contact Me</h3>
	<table class="contact-information">
		<tbody>
			<tr>
				<th>email</th>
				<td><a href="mailto:hello@builtinbruges.com" onclick="ga('send', 'event', 'Email', 'compose', 'Click from table');">hello@builtinbruges.com</a></td>
			</tr>
			<tr>
				<th>cell</th>
				<td><a href="call:0032472373625" onclick="ga('send', 'event', 'Cell Phone', 'call', 'Click from table');">+32 472 37 36 25</a></td>
			</tr>
			<tr>
				<th>skype</th>
				<td><a href="skype:bertdevriese" onclick="ga('send', 'event', 'Skype', 'call', 'Click from table');">bertdevriese</a></td>
			</tr>
			<tr>
				<th>twitter</th>
				<td><a href="http://www.twitter.com/brtdv" onclick="ga('send', 'event', 'Twitter', 'visit', 'Click from table');">@brtdv</a></td>
			</tr>
			<tr>
				<th>dribbble</th>
				<td><a href="http://www.dribbble.com/brtdv" onclick="ga('send', 'event', 'Dribbble', 'visit', 'Click from table');">brtdv</a></td>
			</tr>
			<tr>
				<th>github</th>
				<td><a href="http://www.github.com/brtdv" onclick="ga('send', 'event', 'Github', 'visit', 'Click from table');">brtdv</a></td>
			</tr>
		</tbody>
	</table>
	<ul class="contact-bubbles">
		<li><a href="mailto:hello@builtinbruges.com" onclick="ga('send', 'event', 'Email', 'compose', 'Click from bubble');"><em class="ss-send"></em></a></li>
		<li><a href="call:0032472373625" onclick="ga('send', 'event', 'Cell Phone', 'call', 'Click from bubble');"><em class="ss-phone"></em></a></li>
		<li><a href="skype:bertdevriese" onclick="ga('send', 'event', 'Skype', 'call', 'Click from bubble');"><em class="ss-chats"></em></a></li>
		<li><a href="http://www.twitter.com/brtdv" onclick="ga('send', 'event', 'Twitter', 'visit', 'Click from bubble');"><em class="ss-birdhouse"></em></a></li>
		<li><a href="http://www.github.com/brtdv" onclick="ga('send', 'event', 'Github', 'visit', 'Click from table');"><em class="ss-atom"></em></a></li>
	</ul>
</div>