<h3>Contact Me</h3>
<table class="contact-information">
	<tbody>
		<tr>
			<th>email</th>
			<td><a href="mailto:hello@builtinbruges.com">hello@builtinbruges.com</a></td>
		</tr>
		<tr>
			<th>cell</th>
			<td><a href="call:0032472373625">+32 472 37 36 25</a></td>
		</tr>
		<tr>
			<th>skype</th>
			<td><a href="skype:bertdevriese">bertdevriese</a></td>
		</tr>
		<tr>
			<th>twitter</th>
			<td><a href="http://www.twitter.com/brtdv">@brtdv</a></td>
		</tr>
		<tr>
			<th>github</th>
			<td><a href="http://www.github.com/brtdv">brtdv</a></td>
		</tr>
	</tbody>
</table>