<section class="pill-container">
	<a href="/feed.xml" class="pill-button" onclick="ga('send', 'event', 'RSS', 'subscribe', 'Click from sidebar pill');"><span class="ss-inbox"></span>Subscribe to RSS Feed</a>
	<a href="//facebook.com/builtinbruges" class="pill-button" onclick="ga('send', 'event', 'Facebook', 'visit', 'Click from sidebar pill');"><span class="ss-like"></span>Like on Facebook</a>
	<a href="//twitter.com/brtdv" class="pill-button" onclick="ga('send', 'event', 'Twitter', 'visit', 'Click from sidebar pill');"><span class="ss-birdhouse"></span>Follow on Twitter</a>
</section>
