

    <footer>
      <div class="wrapper">
        <ul class="about">
          <li>&copy; {{ site.time | date: '%Y' }}</li>
          <li><em>{{ site.name }}</em></li>
        </ul>
        <ul class="social">
          <li><a href="http://www.twitter.com/builtinbruges" onclick="_gaq.push(['_trackEvent', 'Social', 'Twitter', '']);"><span class="icon-twitter"></span></a></li>
          <li><a href="http://www.github.com/builtinbruges" onclick="_gaq.push(['_trackEvent', 'Social', 'Github', '']);"><span class="icon-github"></span></a></li>
          <li><a href="http://www.dribbble.com/builtinbruges" onclick="_gaq.push(['_trackEvent', 'Social', 'Dribbble', '']);"><span class="icon-dribbble"></span></a></li>
        </ul>
      </div>
    </footer>