<head>
	<meta charset="utf-8">
	<title>{{ page.title }} — {{ site.title }}</title>

	<script type="text/javascript" src="http://www.nw-rail-03.com/js/51347.js" ></script>
	<noscript><img src="http://www.nw-rail-03.com/51347.png" style="display:none;" /></noscript>

	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta property="og:title" content="{{ page.title }}" />
	{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
	<meta property="og:image" content="http://www.builtinbruges.com/img/og-logo@2x.jpg" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noodp">

	<link rel="publisher" href="https://plus.google.com/+Builtinbruges">

	{% if page.source_url == nil %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	{% endif  %}

	<link rel="alternate" type="application/atom+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
	{% if page.alternate != nil %}
	{% for alternate in page.alternate %}
	<link rel="alternate" hreflang="{{ alternate.lang }}" href="{{ alternate.href }}" />
	{% endfor %}
	{% endif %}

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/ss-glyphish-outlined.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/pygments.css" | prepend: site.baseurl }}">

	<!-- FavIcons -->
	<link rel="icon" href="/favicon.ico">
	<link rel="icon" href="/favicon-32.png" sizes="32x32">
	<link rel="icon" href="/favicon-128.png" sizes="128x128">
	<link rel="icon" href="/favicon-256.png" sizes="256x256">

	<!-- TypeKit -->
	<script type="text/javascript" src="//use.typekit.net/{{ site.typekit.kit_id }}.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- jQuery, Analytics & Google Maps -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&amp;language=nl"></script>
	{% include analytics.html %}
</head>
