<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>{{ page.title }} — {{ site.title }}</title>
	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
	<meta property="og:title" content="{{ page.title }}" />
	{% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
	<meta property="og:image" content="http://www.builtinbruges.com/assets/img/og-logo@2x.jpg" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ site.description }}">

	{% if page.source_url == nil %}
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	{% endif  %}

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/ss-glyphish-outlined.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/pygments.css" | prepend: site.baseurl }}">

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&language=nl"></script>
</head>
