@import "compass"
@import "assets/css/mixins.sass"

// ----------------------------------------------------------------------------
// General Body Stuff

html, body
  min-height: 100%

body
  background-color: #fff
  +background-image(linear-gradient(#FAFBFC, #fff))
  background-size: 100% 500px
  background-repeat: no-repeat
  font:
    family: "museo-sans", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif
    size: 16px
    weight: 500
  color: #565C72
  line-height: 30px

.wrapper
  width: 960px
  margin: 0 auto

@media screen and (max-width: 1120px)
  .wrapper
    width: auto
    padding: 0 80px

@media screen and (max-width: 600px)
  .wrapper
    width: auto
    padding: 0 20px


// ----------------------------------------------------------------------------
// General Text & Link Colors
a
  color: #36373d
  text-decoration: none
  +experimental('transition', all 250ms cubic-bezier(.18, .85, .47, 1.01))

a:visited
  color: #505158

a:hover
  color: #2A93DD

p
  a
    border-bottom: 2px solid #D6E1E8

  a:hover
    border-bottom: 2px solid #2A93DD
    border-bottom: 2px solid rgba(42,147,221,.3)

em
  font-style: italic

strong
  color: #36373D

// ----------------------------------------------------------------------------
// Header
header
  position: fixed
  padding: 30px
  font-weight: 200
  font-size: 20px

nav
  li
    display: block
    margin: 0 0 20px

@media screen and (max-width: 600px)
  header
    position: static
    border-bottom: 1px solid #d6e1e8

  nav
    li
      display: inline-block
      margin: 0 20px 0 0


// ----------------------------------------------------------------------------
// Footer
footer
  text-align: center
  font-size: 14px
  color: #8288A3
  padding: 50px 0

  li
    display: inline-block

    &:not(:last-child):after
      content: ' - '