<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include css.html %}
    {% include analytics.html %}
    {% include typekit.html %}
  </head>
  <body>
    {% include header.html %}

    <section class="wrapper">
      {% assign post = page %}
      {% include show_post.html %}

    {% if page.next != null or page.previous != null %}
      <ul class="sibling-navigation">
      {% if page.next != null %}
        <li class="next"><span>&rarr;</span> <a href="{{ page.next.url }}" title="{{ page.next.title | escape }}">{{ page.next.title }}</a></li>
      {% endif %}
      {% if page.previous != null %}
        <li class="previous"><span>&larr;</span> <a href="{{ page.previous.url }}" title="{{ page.previous.title | escape }}">{{ page.previous.title }}</a></li>
      {% endif %}
      </ul>
    {% endif %}

    </section>

    {% include footer.html %}
  </body>
</html>
