<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }} - {{ site.name }}</title>
		{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
		<meta name="author" content="{{ site.author.name }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% include css.html %}
		{% include js.html %}
		{% include analytics.html %}
		{% include typekit.html %}
	</head>
	<body>
		<div id="height-container">
			{% include header.html %}

			<div class="wrapper text-wrapper"{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
				{{ content }}
			</div>
			<div id="push"></div>
		</div>
		{% include footer.html %}
	</body>
</html>
